{% extends 'mailing/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <form class="row" method="post" enctype="multipart/form-data">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-text">{% if object %}{{ object.email }}{% else %}Регистрация{% endif %} </h5>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Сохранить
                   </button>
               </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}